/* Bootstrap Padding Fix */
[class*="col-"]{
    padding: 1rem;
}
body{
    font-family: 'Roboto Slab', serif;
}
hr{
    size: 90px;
    width: 20px;
    background-color:red;
}
#btn1{
    background-color: royalblue;
}