.main__features{
    @include grid;
    @include style;

    &-title{
        @include font;
    }
    
    &-desc{
        @include font;        
    }

    &-img-cont img{
        
    }
  }

  .banner{
    @include style;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3em;

    &__title{
        margin-top: 2em;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    &__btn{
        @include btn-primary;
    }
  }