.main{
  & h2{
    @include font-title;
  }

  & p{
    @include font-desc;
  }
}

.main__features{
  @include flex;
  @include card;

  width: 100%;
  height: auto;
  align-content: space-between;
  
  &-reverse{
    display: flex;
    flex-direction: row-reverse;
  }
}

.banner{
  @include card;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3em;

  &__title{
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  &__btn{
    @include btn-primary;
  }
}

.main__feature{
  

  &-title{
    @include font-title;
  }
  
  &-desc{
    @include font-desc;
  }
}