.footer{

    background-color: $text-color-primary; 
    color: $footer-color; 
    

&__main{
    
   @include flex; 
   
}

&__col-1{
    padding: 8em;
    width: 42%;


    img{
        display: inline;
        padding-top: 2em;
        padding-right: 1em;


    }
}
&__col-1-link{

    color: $footer-color; 
    font-weight: bold;
    font-size: 15px; 
    text-decoration: none; 
}
&__col-2{

    a{
        display: block;
        padding-top: 5em;
        margin: 0.5em;
        padding-right: 10em;
    }

}
&__col-2-link{
  
    color: $footer-color; 
    font-weight: bold;
    font-size: 15px; 
    text-decoration: none; 

}
&__col-3{
    
    a{
        display: block;
        padding-top: 3.5em;
        margin: 0.5em;
    }
}
&__col-3-link{
    
    color: $footer-color; 
    font-weight: bold;
    font-size: 15px; 
    text-decoration: none
}
&__col-4{

    @include grid;
    color: $footer-color;


   }
   &__social-link{
       
       text-align: left;
      padding: 10px;
       margin: 10px;
       color: $footer-color;
       border: 1px solid $text-color-secondary;
       border-radius: 50%;
       &:hover{
        background-color: $color-accent;
    }
}
    &__copyright{
        font-size: 12px;
        font-weight: bold;
      
      }
    }
.attribution{
    font-weight: bold;
}