.hero {
  background-color: $color-hero;

  &__btn {
    &--light {
      @include btn-secondary;
    }

    &--accent {
      @include btn-primary;
    }
  }

  &__heading {
    font-size: xx-large;
    padding: 5em 1em 0em .3em;
  }
 &__subheading{
  padding: 2em em .1em .3em;
 }
  &__main-content {
    @include grid;
  

  }

  &__right img {
    width: 100%;
  }

}