*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//la suppression des espacement et utilisation de la technique du box-sizing(les elements reste sur le meme container)

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: $text-color-primary;
  background-color: #fafafa;
}

img {
  display: block;
  max-width: 100%;
}

h2{
  margin:0 auto 40px auto;
}

p{
//   margin:0px auto 80px auto;
  opacity: 0.5;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}