@include responsive(875px) {
    .main__features {
        flex-wrap: wrap-reverse;
        text-align: center;
        padding: 50px 100px 50px 100px !important;
    }
}

@include responsive(693px) {
    .footer {
        [class*="col-"] {
            width: 100%;
        }
    }
}


@include responsive(600px) {
    .hero {
        .hero__main-content {
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: "feature-text",

        }

        .hero__right {
            padding-top: 20%;
        }

        .hero__left {
            text-align: center;
        }
    }

    .main__features {
        flex-wrap: wrap-reverse;
        text-align: center;
        padding: 15px 30px 15px 30px !important;
    }

    .banner {
        flex-wrap: wrap;
        width: 80% !important;
        height: 13em;
    }
}

@include responsive(986px) {
    .hero {

        .hero__btn--accent {
            position: relative;
            padding-right: 15%;
            padding-left: 15%
        }

        .hero__subheading {
            padding-left: 8%;
            padding-bottom: 15%;
        }
    }

}