@include responsive($mobile){
    .hero{
        .hero__main-content{
            display: grid;
      grid-template-columns: auto ;
      grid-template-areas: "feature-text", 
                           
        }
       .hero__right{
           padding-top: 20%;
       }
       .hero__left{
           text-align: center;
       }
       .hero__btn--accent{
           position: relative;
       }
    }

    .main__features{
        flex-wrap: wrap;
    }
    
    
    
}