 
.footer{

    &_menu{
        
        display: flex;
    justify-content: space-around;
    color:rgb(109, 43, 43);

    }
    &_logo{
        &--img img{
            width: 20%;
            margin-left: 40%;

        }
    }          
}
.footer_sub input{
    margin-top: 12em;
    height: 2em;
}
input[type=text]{
    text-align: center;
}
.footer_copy{
    margin-top: 10em;
}
input[type=button]{
    @include button-primary;
    width: 9em;
    height: 2.4em;
    


    
}