.gallerie {
  @include grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  &_cadre1{
    grid-area: 1 / 1 / 2 / 2;
    background-color: darkslateblue;
  }

  &_cadre2{
    grid-area: 1 / 2 / 2 / 3;
    background-color: darkslategray;

  }

  &_cadre3{
    grid-area: 1 / 3 / 2 / 6;
    background-color: darkviolet;
  }

  &_cadre4{
    grid-area: 1 / 6 / 2 / 8;
    background-color: dodgerblue;
  }

  &_cadre5{
    grid-area: 2 / 1 / 3 / 3;
    background-color: fuchsia;
  }

  &_cadre6{
    grid-area: 2 / 3 / 5 / 6;
    background-color: gold;
  }

  &_cadre7{
    grid-area: 2 / 6 / 3 / 7;
    background-color: greenyellow;
  }

  &_cadre8{
    grid-area: 2 / 7 / 3 / 8;
    background-color: indianred;
  }

  &_cadre9{
    grid-area: 3 / 1 / 4 / 3;
    background-color: indigo;
  }

  &_cadre10{
    grid-area: 3 / 6 / 4 / 7;
    background-color: ivory;
  }

  &_cadre11{
    grid-area: 3 / 7 / 4 / 8; 
    background-color: lightcoral;
  }

  &_cadre12{
    grid-area: 4 / 1 / 5 / 2;
    background-color: maroon;
  }

  &_cadre13{
    grid-area: 4 / 2 / 5 / 3;
    background-color: mediumpurple;
  }

  &_cadre14{
    grid-area: 4 / 6 / 5 / 7;
    background-color: midnightblue;
  }

  &_cadre15{
    grid-area: 4 / 7 / 5 / 8;
    background-color: orangered;
  }

  &_cadre16{
    grid-area: 5 / 1 / 6 / 4;
    background-color: peru;
  }

  &_cadre17{
    grid-area: 5 / 4 / 6 / 5;
    background-color: rebeccapurple;
  }

  &_cadre18{
    grid-area: 5 / 5 / 6 / 6;
    background-color: sandybrown;
  }

  &_cadre19{
    grid-area: 5 / 6 / 6 / 8;
    background-color: steelblue;
  }
}