.gallerie{
   &_cadre1 img{
       width: 10em;
       height: 7em;
   }
   &_cadre2 img{

    width: 10em;
    height: 7em;
   }

   &_cadre3 img{
    width: 29em;
    height: 7em;
   }

   &_cadre4 img{
    width: 20em;
    height: 7em;
   }

   &_cadre5 img{
    width: 20em;
    height: 6em;
   }

   &_cadre6 img{
    
    width: 30em;
    height: 15em;
   }
   
   &_cadre7 img{
    
    width: 9em;
    height: 7em;
   }

   &_cadre8 img{
    width: 9em;
    height: 7em;
   }
   &_cadre9 img{
    
    width: 20em;
    height: 7em;
   }
   &_cadre10 img{
   
    width: 9em;
    height: 6em;
   }

   &_cadre11 img{
    
    width: 9em;
    height: 6em;
   }
   &_cadre12 img{
    
   width: 9em;
   height: 6em;
}

&_cadre13 img{

 width: 9em;
 height: 6em;
}

&_cadre14 img{
    width: 29em;
    height: 9em;
   }
   &_cadre15 img{
    width: 10em;
    height: 7em;
}
&_cadre16 img{
    width: 10em;
    height: 7em;
}
&_cadre17 img{
    width: 10em;
    height: 10em;
}


 



   }












