.gallerie{
   &_cadre1 img{
       width: 100%;
       height: 100%;
   }
   &_cadre2 img{

    width: 100%;
    height: 100%;
   }

   &_cadre3 img{
    width: 100%;
    height: 100%;
   }

   &_cadre4 img{
    width: 100%;
    height: 100%;
   }

   &_cadre5 img{
    width: 100%;
    height: 100%;
   }

   &_cadre6 img{
    width: 100%;
    height: 100%;
   }
   
   &_cadre7 img{
    
    width: 100%;
    height: 100%;
   }

   &_cadre8 img{
    width: 100%;
    height: 100%;
   }
   &_cadre9 img{
    width: 100%;
    height: 100%;
   }
   &_cadre10 img{
    width: 100%;
    height: 100%;
   }

   &_cadre11 img{
    width: 100%;
    height: 100%;
   }
   &_cadre12 img{
    width: 100%;
    height: 100%;
}

&_cadre13 img{
    width: 100%;
    height: 100%;

   }
}











