.header {
    &_logo {
        &--img img {
            width: 35%;
            margin-left: 50%;
            margin-top: 1%;
            margin-bottom: 8%;

        }
    }

    &_agent {
        &--titre
        {
            text-align: center;
            margin-bottom: 2%;
        }
        &--revolt img
        {
            width: 25%;
            margin-left: 3%;
            margin-top: 2%;
        }
        &--revolt
        {
            display: flex;
        }
        &--revolt p
        {
            margin-top: 10%;
            margin-left: 2%;
        }
    }

}