.maison{
    .maison_card1 img{
        width: 150%;
    }
    .maison_card2 img{
        width: 150%;
    }
    
    .maison_card3 img{
        width: 150%;
    }
    .maison_card4 img{
        width: 150%;
    }
    .maison_card5 img{
        width: 150%;
    }
    .maison_card6 img{
        width: 150%;
    }
}