@mixin grid {
  display: grid;
  width: 1024;
  height: 500px;
  padding-bottom: 100px;
}

@mixin responsive($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

@mixin button-primary {
    border-radius: 12px;
    background-color: $color-primary; 
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

@mixin button-maison {
  background-color: $color-secondary; 
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}