@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@media screen and (max-width: 600px) {
  .hero__right {
    grid-column: span 2;
    padding: 2em 0; }
  .hero__left {
    grid-column: span 2;
    text-align: center;
    padding: 0; }
  .hero__btn--accent {
    position: relative; }
  .hero__subheading {
    padding-bottom: 10%; }
  .hero__right img {
    margin-top: 20%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #00252e;
  background-color: #fafafa; }

img {
  display: block;
  max-width: 100%; }

h2 {
  margin: 0 auto 40px auto; }

p {
  margin: 0px auto 80px auto;
  opacity: 0.5; }

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }

.hero {
  background-color: #c5ebf9; }
  .hero__btn--light {
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    width: 200px;
    border: 1px solid white;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-top: 5%; }
  .hero__btn--accent {
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    width: 250px;
    border: 1px solid #ff52bf;
    background-color: #ff52bf;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-top: 2%; }
  .hero__heading {
    font-size: xx-large;
    padding-top: 15%;
    margin-bottom: 5%; }
  .hero__subheading {
    padding: 2em em .1em .3em; }
  .hero__main-content {
    padding-top: 10%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "feature-text feature-img-cont"; }
  .hero__right img {
    width: 100%; }

a {
  text-decoration: none;
  color: white; }

.footer {
  padding-top: 15em;
  background-color: #00252e;
  color: #ebfbff; }
  .footer__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .footer__col-1 {
    flex-direction: row;
    max-width: 400px; }
    .footer__col-1 div:first-child {
      margin-bottom: 2rem; }
    .footer__col-1 div:nth-child(2) {
      margin-bottom: 3rem; }
    .footer__col-1 div img {
      display: inline;
      margin-right: 2rem; }
  .footer__col-2 {
    display: flex;
    flex-direction: column;
    max-width: 120px; }
    .footer__col-2 a:first-child {
      margin-bottom: 3.9rem; }
    .footer__col-2 a:nth-child(2) {
      margin-bottom: 3.9rem; }
  .footer__col-3 {
    display: flex;
    flex-direction: column;
    max-width: 150px; }
    .footer__col-3 a:first-child {
      margin-bottom: 3.9rem; }
    .footer__col-3 a:nth-child(2) {
      margin-bottom: 3.9rem; }
  .footer__social-link {
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    text-align: center; }
    .footer__social-link:hover {
      background-color: #c5ebf9; }
  .footer__copyright {
    font-size: 12px;
    width: 20%;
    float: right; }

.attribution {
  padding-top: 3em; }

.main__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "feature-text feature-img-cont";
  box-shadow: -1px 2px 37px -6px rgba(0, 0, 0, 0.75);
  margin: 4em 0;
  border-radius: 15px; }
  .main__features-title {
    color: #808d99; }
  .main__features-desc {
    color: #808d99; }
  .main__features-img-cont img {
    padding: 2em 3em; }

.banner {
  box-shadow: -1px 2px 37px -6px rgba(0, 0, 0, 0.75);
  margin: 4em 0;
  border-radius: 15px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3em; }
  .banner__title {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 1em; }
  .banner__btn {
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    width: 250px;
    border: 1px solid #ff52bf;
    background-color: #ff52bf;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }
