
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #00252e;
  background-color: #fafafa; }

img {
  display: block;
  max-width: 100%; }

h2 {
  margin: 0 auto 40px auto; }

p {
  margin: 0px auto 80px auto;
  opacity: 0.5; }

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }

.hero {
  background-color: #c5ebf9; }
  .hero__btn--light {
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    width: 200px;
    border: 1px solid white;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-top: 5%; }
  .hero__btn--accent {
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    width: 250px;
    border: 1px solid #ff52bf;
    background-color: #ff52bf;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-top: 2%; }
  .hero__heading {
    font-size: xx-large;
    padding-top: 15%;
    margin-bottom: 5%; }
  .hero__subheading {
    padding: 2em em .1em .3em; }
  .hero__main-content {
    padding-top: 10%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "feature-text feature-img-cont"; }
  .hero__right img {
    width: 100%; }

.footer {
  background-color: #00252e;
  color: #ebfbff; }
  .footer__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 0; }
  .footer__col-1 {
    padding: 8em;
    width: 42%; }
    .footer__col-1 img {
      display: inline;
      padding-top: 2em;
      padding-right: 1em; }
  .footer__col-1-link {
    color: #ebfbff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; }
  .footer__col-2 a {
    display: block;
    padding-top: 5em;
    margin: 0.5em;
    padding-right: 10em; }
  .footer__col-2-link {
    color: #ebfbff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; }
  .footer__col-3 a {
    display: block;
    padding-top: 3.5em;
    margin: 0.5em; }
  .footer__col-3-link {
    color: #ebfbff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; }
  .footer__col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "feature-text feature-img-cont";
    color: #ebfbff; }
  .footer__social-link {
    text-align: left;
    padding: 10px;
    margin: 10px;
    color: #ebfbff;
    border: 1px solid #808d99;
    border-radius: 50%; }
    .footer__social-link:hover {
      background-color: #ff52bf; }
  .footer__copyright {
    font-size: 12px;
    font-weight: bold; }

.attribution {
  font-weight: bold; }

.main__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "feature-text feature-img-cont";
  box-shadow: -1px 2px 37px -6px rgba(0, 0, 0, 0.75);
  margin: 4em 0;
  border-radius: 15px; }
  .main__features-title {
    color: #808d99; }
  .main__features-desc {
    color: #808d99; }
  .main__features-img-cont img {
    padding: 2em 3em; }

.banner {
  box-shadow: -1px 2px 37px -6px rgba(0, 0, 0, 0.75);
  margin: 4em 0;
  border-radius: 15px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3em; }
  .banner__title {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 1em; }
  .banner__btn {
    padding: 10px;
    text-align: center;
    border-radius: 100px;
    width: 250px;
    border: 1px solid #ff52bf;
    background-color: #ff52bf;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }
