$color-blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);
$color-silver: silver;
$width-responsive: 600px;

body {
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90px;
    padding-top: 4rem;
    padding-bottom: 2rem;

}




@media only screen and (max-width: 600px) {


   
    
    } 