$background-color-primary:#d0e5f0;
$background-color-secondary:#f4cf1b;
$background-color-tertiary: green;
$color-primary: #1078ad;
$color-primary-darker: #136a96;
$color-secondary: #7f7f7f;
$shadow-color: hsl(0, 0%, 53%);
$shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
$font-size: 1.8rem;
$trans-cubic: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); //des transitions sur les boutons
$break-medium: 670px;
$break-small: 410px;
$break-watch: 268px;

@font-face {
	font-family: "Animosa";
	src: url('../css/fonts/Animosa/Animosa-Regular.otf')
}

@font-face {
	font-family: "Animosa Bold";
	src: url('../css/fonts/Animosa/Animosa-Bold.otf')
}

@font-face {
  font-family: "Animosa Light";
	src: url('../css/fonts/Animosa/Animosa-Light.otf')
}

@mixin font{
  font-family: "Animosa";
  color: $color-secondary;
  font-size: 16px;
  @media screen and (max-width: $break-medium) {
  font-size: 9px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 6px;
  }
  @media screen and (max-width: $break-watch) {
    font-size: 3px;
  }
}

@mixin small-font{
  font-family: "Animosa Light";
  font-size: 1em;
}

@mixin bold-font{
  font-family: "Animosa Bold";
  font-size: 2.3em;
}

@mixin btn {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: .2rem;
  color: white;
  padding: .5em 1em;
  font-size: 2rem;
    
  &:hover{
    background: $color-primary-darker;
    transition: $trans-cubic;
    box-shadow: $shadow;
  }
}